extends layout

block content
  div.dashHead
    a.profileLink(href=`/${user.username}`) #{user.username}
    a.settings(href='/settings') âš™ï¸
  div.dashBar
    div.incoming
      a.chatter(href='/inbox') âœ‰ï¸
      a(href='/follows') #{user.followers.length} Followers
      a.noter(href='/notes') ðŸ””
    div.poster
      h2 Create a Post
      if errorMessage
        p.error-message= errorMessage
      form#postForm(action="/post", method="POST", enctype="multipart/form-data")
        textarea(name="text" placeholder="eg: Hello, World!")
        br
        label(for="imageUrl") Image Upload:
        br
        img#imagePreview
        br
        input.imagePicker(type="file" id="imageUrl" name="imageUrl" accept="image/*")
        br
        h3 Visibility
        input(type="radio" id="public" name="privacy" value="true")
        label(for="public") Public
        br
        input(type="radio" id="friends" name="privacy" value="false")
        label(for="friends") Followers
        br
        input(type="text" name="tags" placeholder="#helloworld")
        br
        br
        button(type="submit") Post
    div.feedSelector
      a(href="/dashboard") Public
      a(href="/dashboard/follows") Following
  div#feedTray
    each post in posts
      div.feedPost
        div.postHead
          a.authorTag(href=`/${post.author.username}`) #{post.author.username}
          a.permaStamp(href=`/${post.author.username}/${post._id}`) #{post.timestamp}
        div.postContent
          each contentItem in post.content
            if contentItem.text
              p #{contentItem.text}
            if contentItem.imageUrl
              img.postPic(src=contentItem.imageUrl, alt="Image Preview")
        p #{post.tags.join(', ')}
        div.reacts
          div.liker
            form#likeForm(action=`/${post.author.username}/${post._id}/like`, method="POST")
              button(type="submit") #{post.likes.length > 0 ? `${post.likes.length}` : ''} ðŸ‘Œ
          a.commenter(href='#') #{post.comments.length > 0 ? `${post.comments.length}` : ''} ðŸ’¬
        div.commentContainer
          each comment in post.comments
            div.commentDiv
              p #{comment.content}
              p ~#{comment.user.username}
          form#commentForm(action=`/${post.author.username}/${post._id}/comment`, method="POST")
            input(type="text" name="comment" placeholder="Write a comment..." required)
            button(type="submit") Comment

  div.appStatus
    a.homeLink(href='/') Back to top
    h4 App Status
    p#userTicker Active Users: 
    p#apiHealth
  
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/client.js")
  script.
    document.getElementById('imageUrl').addEventListener('change', function(event) {
      const file = event.target.files[0];
      const reader = new FileReader();

      reader.onload = function(e) {
        document.getElementById('imagePreview').src = e.target.result;
      };

      reader.readAsDataURL(file);
    });

  
